# General
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
.DS_Store

# Files and databases
*.sqlite
*.sql
*.db
*.odb
*.bin
*.dat

*.xml
*.json
*.csv
*.txt
*.pdf

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/cache/
.gradle/configuration-cache/
.gradle/generated/
.gradle/buildOutputCleanup/
*.lock

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/
tmp/

# NetBeans
nbproject/private/

nbbuild/
dist/
nbdist/

# Logs
logs/

# Include libraries
!lib/*.jar

# Sonar
sonar-project.properties
.scannerwork/.sonar_lock
