# General
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.iml
*.idea/
.DS_Store

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/cache/
.gradle/configuration-cache/
.gradle/generated/
.gradle/buildOutputCleanup/
*.lock

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/
tmp/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.lock

# Logs
logs/
*.log